.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    font-family: 'Open Sans', sans-serif;
}
.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-light {
    background-color: #f8f9fa;
}
.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.nav-item{
    font-size: 20px;
    padding: 25px;
    font-weight:600;
    line-height: 1.5;
}

.nav-link{
    text-decoration: none;
    color: #717275;
}
.navbar-brand{
    text-decoration: none;
    color: #717275;

}

.medic{
    color: #247cff;
    font-size: 30px;
}



.main{
    display: flex;
    flex-direction: column;
}