.home {
    background-color: white;
}

.about {
    background-color: white;
}

.timeline {
    background-color: white;
}

.testimonials {
    background-color: white;
}

.booking {
    background-color: white;
}

.contact {
    background-color: white;
}
